# Compiled sources #
####################
*.pyc

# Folders #
################
build
dist
*.egg-info
notebooks/.ipynb_checkpoints
outputs
dicoFolding/outputs
runs
essais

# Files #
################
contest.py
*.swp
README.rst.*

# pycharm, vscode and virtualenv folders #
##################################
.idea
.vscode
venv
